{% extends "base.html" %} {% block content %}
<div class="card-body">
  <h4>Member List</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Alamat</th>
        <th scope="col">NoHp</th>
        <th scope="col">Join Member</th>
        <th scope="col">Habis Member</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr fontcolor="black">
        <td>{{ member.nama }}</td>
        <td>{{ member.nlamat }}</td>
        <td>{{ member.nohp }}</td>
        <td>{{ member.join_member }}</td>
        <td>{{ member.habis_member }}</td>
        <td>
          <a
            type="button"
            class="btn btn-warning"
            href="/member_update/{{ member.id }}"
            >Update</a
          >
          <a
            type="button"
            class="btn btn-danger"
            href="/member_delete/{{ member.id }}"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a type="button" class="btn btn-success" href="{%url 'member_create' %}"
    >Create</a
  >
</div>
{% endblock %}
